@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1e293b;
  font-size: 1rem;
  position: relative;
}
a:hover{
  color: orange;
}
.link a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: orange;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.link a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Header */
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar .link {
  display: flex;
  gap: 2rem;
}
.navbar .toggle-btn {
  color: #1e293b;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}
.action-btn {
  /* background-color: orange; */
  color: #1e293b;
  padding: 0.5rem 1rem;
  border: 1px solid #1e293b;
  outline: none;
  /* border-radius: 20px; */
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}
.action-btn:hover {
  scale: 1.05;
  color: orange;
  border-color: orange;
}
.action-btn:active {
  scale: 0.95;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  right: 2rem;
  width: 300px;
  height: 0;
  top: 60px;
  background: rgba(255, 255, 255, 0.9);
  /* background: red; */
  /* backdrop-filter: blur(15px); */
  border-radius: 10px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
  height: 240px;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* hero section */
section#hero {
  height: calc(100vh - 0px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* background-color: aqua; */
}
section#hero span {
  /* margin-left: 16rem; */
  font-size: 3rem;
  /* margin-bottom: 1rem; */
  font-weight: 700;
  color: #1e293b;
  position: relative;
}
.text-seccond::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid #1e293b;
  animation: animate 7s steps(12) infinite;
}
@keyframes animate {
    40%, 60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
}

section#hero p {
  /* margin-left: 16rem; */
  font-size: 1.3rem;
  font-weight: 500;
  color: #475569;
}

/* service */
#service {
  /* background-color: skyblue; */
  padding: 3rem;
  /* height: 80vh; */
}
#service .pre-service-title{
  text-align: center;
  margin: 0 auto;
  color: #1e293b;
}
#service .service-title{
  margin-top: 1rem;
  text-align: center;
  color: #475569;
}
.services {
  margin-top: 3rem;
  padding: 3rem 2rem;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 20px;
}
.services-icon {
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 10px;
  cursor: pointer;

}
.services-icon svg {
  fill: #1e293b;
}
/* .services-icon:hover {
  background-color:#ffc966;
} */
.services h4 {
  color: #64748b;
}
.services p {
  color: #94a3b8;
  font-size: medium;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}


/* project */

#project {
  padding: 3.5rem;
  margin-top: 3rem;
}
#project .pre-project-title{
  text-align: center;
  margin: 0 auto;
  color: #1e293b;
}
#project .project-title{
  margin-top: 1rem;
  text-align: center;
  color: #475569;
}
.projects {
  background-color: whitesmoke;
  margin-top: 3rem;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid whitesmoke;
}
.projects-cover {
  height: 250px;
  
}
.projects-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-info {
  padding: 2rem 1.5rem;

}
.projects-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.projects-title a svg:hover {
  fill: #ffc966;
}
.projects h4 {
  font-weight: 500;
  font-size: 1.05rem;
  color: #475569;
}
.projects p {
  color: #94a3b8;
}
.projects-tag {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.projects-tag div {
  font-size: .9rem;
  border: 1px solid #1e293b ;
  padding: .4rem 1rem;
  color: #1e293b  ;
  background-color: whitesmoke;
}

/* skill */
#skill {
  padding: 5rem;
  margin-top: 3rem;
}
#skill .pre-skill-title{
  text-align: center;
  margin: 0 auto;
  color: #1e293b;
}
#skill .skill-title{
  margin-top: 1rem;
  text-align: center;
  color: #475569;
}
.skill-container-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}
.skill-box {
  padding: 1rem;
  color: red;
  cursor: pointer;
}
.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-title h3{
  color: #475569;
  margin: 0.5rem;
}
.skill-icon {
  width: 50px;
}

/* about*/
#about {
  padding: 5rem;
  margin-top: 1rem;
}
#about .pre-about-title{
  text-align: center;
  margin: 0 auto;
  color: #1e293b;
}
#about .about-title{
  margin-top: 1rem;
  text-align: center;
  color: #475569;
}

aside {
  padding: 3rem;
  display: flex;
  gap: 3rem;
}
.about-img img {
  max-width: 350px;
  border-radius: 99999px;
  background-color: whitesmoke;
}
article {
  /* justify-content: center; */
  align-items: center;
  margin-top: 4rem;
}
article .about-text-2 {
  margin-top: 1rem;
}
aside button {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #1e293b ;
  padding: .4rem 1rem;
  color: #1e293b  ;
  background-color: whitesmoke;
  cursor: pointer;
}
button:hover {
  scale: 1.05;
  color: orange;
  border: 1px solid orange;
}
button:active{
  scale: 0.95;
}



/* footer */
footer {
  background-color: whitesmoke;
}
.footer-container {
  width: 100%;
  /* padding: 3rem; */
}
.footer-container h2 {
  text-align: center;
  color: #64748b;
  font-size: 1.3rem;
  padding: 2rem 0 0;
}
.social-icon {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.social-icon a {
  text-decoration: none;
  padding: 0.9rem 1rem;
  background-color: #dcdcdc;
  margin: 1rem;
  border-radius: 99999px;
}
.social-icon a i {
  font-size: 2rem;
  color: #1e293b;
  opacity: 0.9;
}
.social-icon a:hover {
  background-color: whitesmoke;
  transition: 0.5s;
}
.social-icon a:hover i.fa-facebook {
  color: #3b5998; 
}

.social-icon a:hover i.fa-instagram {
  color: #bc2a8d; 
}

.social-icon a:hover i.fa-twitter {
  color: #1da1f2; 
}

.social-icon a:hover i.fa-youtube {
  color: #ff0000; 
}

.social-icon a:hover i.fa-github {
  color: #333; 
}

.footer-bottom {
  padding: 1rem;
  text-align: center;
  background-color: #dcdcdc;
}
.footer-bottom p{
  font-weight: bold;
  font-size: 1.rem;
  color: #1e293b;
}


/* responsive */
@media (max-width: 992px) {
  .navbar .link,
  .navbar .action-btn {
    display: none;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
  section#hero p {
    /* display: none; */
    font-size: 1rem;
  }
  .grid-3 {
    gap: 2rem;
  }
  .skill-container-box {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
  
  aside .about-img img {
    max-width: 250px;
    margin-top: 5rem;
  }
  article p {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: unset;
    left: 2rem;
  }
  .grid-3 {
    gap: 0.5rem;
  }
  .text-seccond::before {
    display: none;
  }
  .social-icon {
    flex-wrap: wrap;
  }
  aside{
    padding: 0;
    margin: 0;
    gap: 0;
    flex-direction: column;
    justify-content: center;
  }
}